<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
    <p><label>Email: <input type="text" name="email"></label></p>
    <p><label>Password: <input type="password" name="password"></label></p>
    <p><input type="submit" value="Log In"></p>
</form>

